* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.parent {
    width: 200px;
    margin: 0 auto;
    background-color: #e5e9f2;
}

.child {
    height: 50px;
    color: #212529;
    line-height: 50px;
    text-indent: 20px;
    color: white;
}

.red {
    background-color: red;
}

.yello {
    background-color: yellow;
}

.blue {
    background-color: blue;
}